.github{
    margin-top: 1.5rem;
    background-image: linear-gradient(35deg,rgba(253, 158, 253, 0.5),rgba(136, 128, 248, 0.5)),url(../../assets/third.jpg) ;
    background-size: cover;
    width: 100%;
    padding: 4rem 0;

}